src/main/resources/META-INF/frpc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            xmlns="http://pro.xyf/schema/frpc"
            targetNamespace="http://pro.xyf/schema/frpc">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>

    <xsd:annotation>
        <xsd:documentation>
            <![CDATA[ xyf.frpc. ]]></xsd:documentation>
    </xsd:annotation>
    
    <xsd:complexType name="consumerType">
    	<xsd:attribute name="name" type="xsd:string" use="optional">
    		<xsd:annotation>
                <xsd:documentation><![CDATA[ The consumer name. ]]></xsd:documentation>
            </xsd:annotation>
    	</xsd:attribute>
    	<xsd:attribute name="id" type="xsd:string" use="required">
    		<xsd:annotation>
                <xsd:documentation><![CDATA[ The consumer id. ]]></xsd:documentation>
            </xsd:annotation>
    	</xsd:attribute>
    </xsd:complexType>

    <xsd:element name="consumer" type="consumerType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ The consumer config ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>
